<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quotegenerator</title>
    <link rel="stylesheet" type= "text/css" href="/CSS Documents/Quote generator style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet"> 
<body>
 
  <div id="wrapper">
  

        <h1 style= "display: inline-block; font-family: 'Lato', sans-serif; color: white; position: relative; top: 30px; left: 500px;">Quotegenerator</h1>

    <div class="container">
      <div id="quote_display" style= "display: inline; font-family: 'Noto Sans', sans-serif; color: white; position: fixed; left: 510px; top: 200px;"> Klik op de knop voor een quote.</div>
      <button id= "quotebutton" style= "background-color:#4ccfff; border-radius:13px; display:inline-block; cursor: pointer; color: #ffffff; font-family: Arial; font-size: 17px; padding: 17px 38px; text-decoration: none; position: fixed; top: 190px; left: 300px; border: none;">Quote</button>
    </div>
    
    <script type="text/javascript" src="/Javascript Documents/Quotegenerator script.js"></script>
</body>
</html>
